<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">GBSMUN VI</h2>
                    <h3 class="section-subheading text-muted">Materials will be updated within 1 month of the conference</h3>                 

<!-- Basic dropdown -->
 
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
 

  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Position Papers
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a  style= "margin-left: 10px; "class="dropdown-item pull-left" href="#"> Guidelines </a>
      <a  style= "margin-left: 10px; "class="dropdown-item pull-left" href="#">Sample Papers</a>

      
    </div>
  </div>
</div>
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
 

  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Registration
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a  style= "margin-left: 10px; "class="dropdown-item pull-left" href="https://docs.google.com/forms/d/e/1FAIpQLSe5mWDly3G_RkJNpQmJqLPmwtwiryMTA1RL1VXWFMvBX0ZlmQ/viewform?usp=sf_link"> Register Here</a>

     
      
      
    </div>
  </div>
</div>
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
 

  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Commitees
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a  style= "margin-left: 10px; "class="dropdown-item pull-left" href="#">Bush's Cabinet </a>
      <a  style= "margin-left: 10px; "class="dropdown-item pull-left" href="#">Security Council</a>
      <a  style= "margin-left: 10px; "class="dropdown-item pull-left" href="#">Arab League</a>
      <a  style= "margin-left: 10px; "class="dropdown-item pull-left" href="#">JCC Israel-Palesteine</a>
      <a  style= "margin-left: 10px; "class="dropdown-item pull-left" href="#">UN Women </a>
      <a  style= "margin-left: 10px; "class="dropdown-item pull-left" href="#">Mars Colonization</a>
      <a style="margin-right:120px; margin-left: 10px;" class="dropdown-item pull-left" href="#">UNEP</a>
      <a style="margin-right:120px ; margin-left: 10px; " class="dropdown-item pull-left" href="#">GOT</a>
      <a style="margin-right:120px ; margin-left: 10px;" class="dropdown-item pull-left" href="#">UNICEF </a>
      <a style="margin-right:120px; margin-left: 10px; " class="dropdown-item pull-left" href="#">DISEC</a>
      <a style="margin-right:120px; margin-left: 10px; " class="dropdown-item pull-left" href="#">EU</a>
      <a style= "margin-left: 10px; "class="dropdown-item pull-left" href="#">JCC Palestinian Unity</a>
    </div>
  </div>
</div>
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
 

  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      More
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a  style= "margin-left: 10px; "class="dropdown-item pull-left" href="#"> Awards</a>
      <a  style= "margin-left: 10px; "class="dropdown-item pull-left" href="#"> Charity</a>
      <a  style= "margin-left: 10px; "class="dropdown-item pull-left" href="#"> Schedule</a>
      
     
      
      
    </div>
  </div>
</div>
<!-- Basic dropdown -->
    </ul>
    
  </div>
</nav>

   
            <!-- </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> -->
        </div>
    </section>